<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <title>Document</title>
</head>
<body>
<div class="container-fluid">
    <div class="col">
        <a href="/"><img src="statics\images\logo_vlute.png" height="100px" width="100px" alt="" srcset=""></a>
    </div>
    {% for item in response %}
    <div class="row">
        <div class="col-sm-12 col-lg-2 border rounded text-center">
            <a>Dashboard</a> <br>
            <a href="/project/{{item[0]}}">Project</a>
            <hr>
            <a>Certificate</a> </br>
            <a>Setting</a> </br>
        </div>
        <div class="col-sm-12 col-lg-8 border rounded">
            <label for=""><b>Mã đề tài:</b></label>
            <input type="text" name="" id="" class="form-control" value="{{item[0]}}" readonly>
            <label for="" class="mt-2"><b>Tên đề tài:</b></label>
            <textarea name="" id="" class="form-control" placeholder="{{item[1]}}" readonly></textarea>
            <label for="" class="mt-2"><b>Người đại diện:</b></label>
            <input type="text" name="" id="" class="form-control" value="{{item[2]}}" readonly>
        </div>
        <div class="col-sm-12 col-lg-2 border rounded">
        </div>
    </div>
    {% endfor %}
</div>
{% include "footer.html" %}